.header {
    display: flex;
    justify-content: space-between;
    
}


.header ul {
    display: flex;
    list-style: none;
    margin-left: 27%;
    
}

.header li {
    margin: 15px;
}

.header a {
    color: white !important;
    text-decoration: none;
    transition: 0.5s;
}

.header a:hover {
    color: rgba(19, 173, 199, 1) !important;
}

.icons {
    margin-right: 5%;
    transition: 0.5s;
    cursor: pointer;
}

